.non-valid{
  color: red;
}
.container {
  max-width: 1140px;
  margin: auto;
}

.grid {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 25px;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card_padding {
  padding: 50px;
}
/**
* ! Adding media queries  
**/

@media (max-width: 1200px) {
  
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .card_padding {
    padding: 40px;
  }
}
@media (max-width: 576px) {
  .card_padding {
    padding: 20px;
  }
}